<div class="snackbar" [@showSnackBar]=showSnackBar (click)="reloadWindow()">
<span class="snackbar-text" >
  {{text}}
</span>
<i class="nb-close snackbar-button" (click)="showSnackBar = !showSnackBar"></i>
<!-- <ion-button class="" >
 <ion-icon slot="icon-only" name="close"></ion-icon>
</ion-button> -->
</div>

