.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 40%;
  right: 40%;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .snackbar-text {
    width: 100%;
    font-size: 20px;
    transition: 100ms;
    &:hover{
   background-image: linear-gradient(to right, #ad59ff, #7659ff);
  box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
  }
  .snackbar-button {
    background: #333;
    padding: 4px;
    font-size: 2.5rem;
    &:hover {
      background: #160d0d;
    }
  }
}
