/* .normal {
  background-image: linear-gradient(to right, #ad59ff, #7659ff);
  box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  line-height: calc((1rem * 1.25) + 4px);
  font-weight: normal;
  color: black !important;
  .status {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
  }
}

.warning {
  background-image: linear-gradient(to right, #fc0, #ffa100) !important;
  box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  font-weight: normal;
  line-height: calc((1rem * 1.25) + 4px);
  .status {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
  }
}

.danger {
  background-image: linear-gradient(to right, red, #ff386a);
  box-shadow: 0 3px 0 0 #db3078, 0 2px 8px 0 #ff388b,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  line-height: calc((1rem * 1.25) + 4px);
  font-weight: normal;
  color: #fff;
  .status {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
  }
}

.crazy {
  background-color: black !important;
  font-weight: bolder;
  color: white;
  .status {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
  }
} */

::ng-deep nb-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demanda-card-mobile-TimeLeft {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  .demanda-card-mobile-newDesignTimeReal {
    width: 100%;
    h4 {
      color: black;
    }
  }
}
.demanda-card-mobile-description {
  font-size: 1.5vw;
}
/* .demanda-card-mobile-header {
  display: flex;
  flex-wrap: wrap;
  font-size: 3vw;
  justify-content: center;
  .area-header {
    // font-size: 1.5rem
  }
  .spacer-header {
    font-size: 1.5rem;
  }
  .tfsCode-header {
    //  font-size: 1.5rem
  }
}
.demanda-card-mobile-description {
  font-size: 5vw;
}
 */

/* .float {
  background-color: #0c9;
  position: fixed;
  display: flex;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #fff;
  justify-content: center;
  z-index: 100;
  font-size: 3em;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  .nb-plus {
    font-weight: bolder;
  }
} */

.card {
  background-color: unset;
  border: none;
}

.newDesignTimeLeft {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  .newDesignTimeReal {
    width: 100%;
    h4 {
      color: black;
    }
  }
}

.timeLeft {
  display: flex;
  align-items: center;
  .timeString {
    width: 100%;
  }
  .timeReal {
    width: 100%;
    .timeData {
      width: 100%;
      text-align: right;
      border-bottom: solid 0.1rem black;
    }
    .timeDataFim {
      width: 100%;
      text-align: right;
      border-top: solid 0.1rem black;
    }
  }
}
