<!-- <nb-layout-column style="padding:.5rem;" [hidden]="ShowWhenSizable"> -->
<div class="animated flipInX delay-1s">
  <ag-grid-angular id='GridDimensionado' style="height: calc(100vh - 16px);width: 100%;" class="ag-theme-balham"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
  <!--     <div class="float" (click)="showModalFiltro()">
      <i class="nb-search"></i>
    </div> -->

  <!-- <div class="OnFabButton">
        <div class="float-btn-group" [class.open]="showFab">
          <button class="btn-float btn-triger" nbButton (click)="GoForIt()">
            <i class="fas fa-bars"></i>
          </button>
          <div class="btn-list">
            <button class="btn-float" (click)="GoTo(fabObj)" *ngFor="let fabObj of FabList" nbButton hero [status]="fabObj.cor" [nbTooltip]="fabObj.tooltip" nbTooltipPlacement="top">
              <i class="{{fabObj.icon}}"></i>
            </button>
          </div>
        </div>
      </div> -->
  <ng-template #ModalShowFiltro let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Escolha um filtro:</nb-card-header>
      <nb-card-body style="overflow:visible">
        <div class="p-grid">
          <div class="p-col-12">
            <nb-select hero multiple placeholder="Selecione" [(ngModel)]="esteirasSelecionadas">
              <nb-option [value]="item.value" *ngFor="let item of esteiras">{{item.label}}</nb-option>
            </nb-select>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer style="display: flex;justify-content: space-between;">
        <button nbButton hero status="danger" (click)="ref.close()">Cancelar</button>
        <button nbButton hero status="success" (click)="filtrarLista(esteirasSelecionadas,ref)">Salvar</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

  <ng-template #ModalDetail let-data let-ref="dialogRef">
    <nb-card class="{{formatSrv.formatarCardColor(demanda_onFocus)}}">
      <nb-card-header class="demanda-card-mobile-header" style="text-align: center;">
        <!--  {{ demanda.area }} - {{demanda.tfs}} -->
        <h1 class="area-header">
          {{ demanda_onFocus.area }}
        </h1>
        <h1 class="spacer-header">
          -
        </h1>
        <h1 class="tfsCode-header">
          {{demanda_onFocus.tfs}}
        </h1>
      </nb-card-header>
      <nb-card-body style="text-align: center;">
        <h5 class="demanda-card-mobile-description"> {{demanda_onFocus.titulo}} </h5>
        <h5 class="status"> {{demanda_onFocus.status}} </h5>
        <div class="demanda-card-mobile-TimeLeft">
          <div class="demanda-card-mobile-newDesignTimeReal">TEMPO RESTANTE:
            <h4>{{demanda_onFocus.dataFormatada}} / {{demanda_onFocus.datafim}}</h4>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

  </ng-template>
</div>

<!-- </nb-layout-column> -->
