<!-- <button (click)="teste()">TESTE</button> -->
<nb-layout>
  <nb-layout-column style="padding:.5rem;" [hidden]="ShowWhenSizable">
    <div class="centralizar" *ngIf="SplashScreen.show">
      <!--  -->
      <div (click)="splashScreenLoadOut()" #animateSplash id="animateSplash"
        class="animated {{SplashScreen.animation}} cardSplash">
        <!--  -->
        <img class="logoImg" alt="logo" [src]="SplashScreen.image">
        <span class="versionField">Versão 2.9.1</span>
      </div>
    </div>
    <div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
      <router-outlet #o="outlet"></router-outlet>
      <div class="OnFabButton">
        <div class="float-btn-group" [class.open]="showFab">
          <button class="btn-float btn-triger" nbButton (click)="openFabMenu()">
            <i class="fas fa-bars"></i>
          </button>
          <div class="btn-list">
            <button class="btn-float" (click)="GoTo(fabObj)" *ngFor="let fabObj of FabList" nbButton hero
              [status]="fabObj.cor" [nbTooltip]="fabObj.tooltip" nbTooltipPlacement="top">
              <i class="{{fabObj.icon}}"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <ng-template #dialog let-data let-ref="dialogRef">
      <div id="HolderModalLogin">
        <app-login-modal [modalControl]="dialog"></app-login-modal>

      </div>
    </ng-template>

    <app-snackbar [getSnack]="showSnackBar" text="Atualização disponivel. Clique aqui para recarregar o app">
    </app-snackbar>
  </nb-layout-column>


  <nb-layout-column style="padding:.5rem;" [hidden]="!ShowWhenSizable">
    <div class="demanda-card-mobile animated slideInUp" style="text-align: center">
      <nb-card class="{{formatSrv.formatarCardColor(demanda)}}" *ngFor="let demanda of DataList">
        <nb-card-header class="demanda-card-mobile-header">
          <!--  {{ demanda.area }} - {{demanda.tfs}} -->
          <h1 class="area-header">
            {{ demanda.area }}
          </h1>
          <h1 class="spacer-header">
            -
          </h1>
          <h1 class="tfsCode-header">
            {{demanda.tfs}}
          </h1>
        </nb-card-header>
        <nb-card-body>
          <h5 class="demanda-card-mobile-description"> {{demanda.titulo}} </h5>
          <h5 class="status"> {{demanda.status}} </h5>
          <div class="demanda-card-mobile-TimeLeft">
            <div class="demanda-card-mobile-newDesignTimeReal">TEMPO RESTANTE:
              <h4>{{demanda.dataFormatada}} / {{demanda.datafim}}</h4>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>

<!-- <a routerLink="dashboard" routerLinkActive="active" nbButton>Dashboard</a>
    <a routerLink="gdboard" routerLinkActive="active" nbButton>GDBoard</a> -->
