@import '../scss/themes.scss';
.centralizar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  background-color: #2f286b;
  .cardSplash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 15px;
    imageBox {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 1vw;
    }
    .logoImg {
      width: 30em;
    }
    .versionField {
      font-size: 2rem;
    }
  }
  h1 {
    font-weight: bold;
    text-align: center;
    font-family: cursive;
    .angular {
      color: #dd0331;
    }
    .firebase {
      color: #fcca3e;
    }
  }
}

.showNHide {
  display: none;
}

.flipcard {
  padding: 0.25rem;
}



::ng-deep nb-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.float {
  background-color: #0c9;
  position: fixed;
  display: flex;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #fff;
  justify-content: center;
  z-index: 100;
  font-size: 3em;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  .nb-plus {
    font-weight: bolder;
  }
}

.demanda-card-mobile {
  background-color: unset;
  border: none;
  padding: 2px;
  .demanda-card-mobile-header {
    display: flex;
    flex-wrap: wrap;
    font-size: 3vw;
    justify-content: center;
    .area-header {
      // font-size: 1.5rem
    }
    .spacer-header {
      font-size: 1.5rem;
    }
    .tfsCode-header {
      //  font-size: 1.5rem
    }
  }
  .demanda-card-mobile-description {
    font-size: 5vw;
  }
  .demanda-card-mobile-TimeLeft {
    display: flex;
    align-items: center;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    .demanda-card-mobile-newDesignTimeReal {
      width: 100%;
      h4 {
        color: black;
      }
    }
  }
}
