<div class="loginHolder">
  <nb-flip-card [showToggleButton]="false" [flipped]="onRegisterPage">
    <nb-card-front>
      <nb-card>
        <nb-card-header>Login</nb-card-header>
        <nb-card-body>
          <form class="loginForm" #LoginForm="ngForm" name="LoginForm" (ngSubmit)="LoginForm.form.valid && onLoginClick(LoginForm)">
            <input type="text" [(ngModel)]="userObj.email" nbInput name="email" #LoginEmail="ngModel" shape="semi-round"
              placeholder="E-mail" email required>
            <input type="password" [(ngModel)]="userObj.password" nbInput name="password" #LoginPassword="ngModel"
              shape="semi-round" placeholder="Senha">
          </form>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton status="danger" (click)="onRegisterPage = !onRegisterPage">Registrar</button>
          <button nbButton status="success" (click)="onLoginClick(LoginForm)">Login</button>
        </nb-card-footer>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card status="danger">
        <nb-card-header>Registro</nb-card-header>
        <form class="loginForm animated delay-s" [class.zoomIn]="onRegisterPage" #RegisterForm="ngForm" name="RegisterForm" (ngSubmit)="onRegisterClick(RegisterForm)">
          <nb-card-body>
            <div class="p-grid">
              <div class="p-col-6">
                <input type="text" nbInput fullWidth shape="semi-round" [(ngModel)]="userObj.email" placeholder="E-mail"
                  name="email" email required>
              </div>
              <div class="p-col-6">
                <input type="password" nbInput fullWidth shape="semi-round" [(ngModel)]="userObj.password"
                  placeholder="Senha" name="senha" required>
              </div>
              <div class="p-col-12">
                <input type="text" nbInput fullWidth shape="semi-round" [(ngModel)]="userObj.nomeCompleto"
                  placeholder="Nome completo" name="nomeCompleto" required>
              </div>
              <div class="p-col-6">
                <nb-select hero placeholder="Selecione" [(ngModel)]="userObj.exteira" name="exteira" required>
                  <nb-option [value]="item.value.name" *ngFor="let item of esteiras">{{item.label}}</nb-option>
                </nb-select>
              </div>
              <div class="p-col-6">
                <input nbInput fullWidth hero placeholder="Data de Nascimento" [(ngModel)]="userObj.dataNascimento"
                  (ngModelChange)="onDate($event)" [nbDatepicker]="dataInicio" name="dataNascimento" required>
                <nb-datepicker #dataInicio format="LL"></nb-datepicker>
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton (click)="onRegisterPage = !onRegisterPage">Cancelar</button>
            <button nbButton hero [status]="teste" type="submit" (mouseover)="teste = 'success'"
              (mouseleave)="teste = 'primary'">Registrar usuario</button>
          </nb-card-footer>
        </form>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
</div>
