.loginHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    nb-flip-card {
      width: 70%;
        nb-card-header {
            text-align: center
        }
        .loginForm {
            display: flex;
            flex-direction: column;

            input {
                margin-bottom: 1em;
            }
        }
        nb-card-footer {
          display: flex;
          justify-content: space-between;
        }
    }
}