//===============

.btn-float {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: normal !important;
    padding: 0 !important;
    border: none;
    font-size: 2.1em !important;
    color: #fff;
    text-align: center;
    position: relative;
    transition: .3s;
    border-radius: 50% !important;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);

    &:hover {
        text-decoration: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 15px rgba(0, 0, 0, 0.13);
    }

    &:active,
    &:focus {
        outline: none;
    }

    &+& {
        margin-left: 5px;
    }
}

.icon-bars {
    background: #fff;
    height: 1px;
    width: 22px;
    margin: auto;
    display: block;
    position: relative;
    transition: .3s .3s;

    &:after {
        content: '';
        position: absolute;
        height: 22px;
        width: 1px;
        background: #fff;
        top: -10px;
    }
}

.float-btn-group {
    position: relative;
    float: right;
    transition: .3s;

    .btn-triger {
        z-index: 15;
        float: left;
    }

    .btn-list {
        position: absolute;
        right: 0;
        transition: .3s;

        li {
            display: inline-block;
        }

    }

    &.open {
        .icon-bars {
            transform: rotate(45deg);
        }
    }
}

//===================================


.OnFabButton {
    position: fixed;
    bottom: 35px;
    right: 25px;
    .float-btn-group {
        .icon-bars {
            transition: .3s;
        }

        .btn-list {
            .btn-float {
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0;

                &:nth-child(1) {
                    transition: .3s 1.2s
                }

                &:nth-child(2) {
                    transition: .3s .9s
                }

                &:nth-child(3) {
                    transition: .3s .6s
                }

                &:nth-child(4) {
                    transition: .3s .3s;
                }
            }
        }

        &.open {
            .btn-list {
                .btn-float {
                    opacity: 1;

                    &:nth-child(1) {
                        // right: 280px;
                        right: 210px;
                        transition: .3s .3s;
                    }

                    &:nth-child(2) {
                      //  right: 210px;
                        right: 140px;
                        transition: .3s .6s
                    }

                    &:nth-child(3) {
                     //   right: 140px;
                        right: 70px;
                        transition: .3s .9s
                    }

                    &:nth-child(4) {
                    //    right: 70px;
                        transition: .3s 1.2s
                    }
                }
            }
        }
    }
}
