@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

), cosmic, cosmic);

.normal {
  background-image: linear-gradient(to right, #ad59ff, #7659ff);
  box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  line-height: calc((1rem * 1.25) + 4px);
  font-weight: normal;
  color: black !important;
  .status {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
  }
}

.warning {
  background-image: linear-gradient(to right, #fc0, #ffa100) !important;
  box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  font-weight: normal;
  line-height: calc((1rem * 1.25) + 4px);
  .status {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
  }
}

.danger {
  background-image: linear-gradient(to right, red, #ff386a);
  box-shadow: 0 3px 0 0 #db3078, 0 2px 8px 0 #ff388b,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  line-height: calc((1rem * 1.25) + 4px);
  font-weight: normal;
  color: #fff;
  .status {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
  }
}

.crazy {
  background-color: black !important;
  font-weight: bolder;
  color: white;
  .status {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
  }
}
